$glassColor: rgba(0, 0, 0, 0.2);
$blurSize: 10px;
.navbar_container {
  position: fixed;
  width: 100%;
  height: 50px;
  padding: 13px 100px;
  background-color: $glassColor;
  backdrop-filter: blur($blurSize);
  z-index: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar_links {
  display: flex;

  .navbar_link {
    margin-left: 20px;
    padding-bottom: 2px;
    text-transform: lowercase;
    color: #fff;
    letter-spacing: 1px;

    &:hover {
      border-bottom: 2px solid cyan;
      color: rgba(255, 255, 255, 0.3);
      transition: all 0.3s ease-in;
      cursor: pointer;
    }
  }

  .active {
    border-bottom: 2px solid cyan;
    color: rgba(255, 255, 255, 0.3);
  }
}

.resume {
  color: cyan;
  margin-left: 20px;
  text-transform: lowercase;
}
