@import "../shared/shared.scss";
.projects {
  max-width: 1200px;
  margin: 35px auto;
  text-align: center;

  h1 {
    margin-top: 10px;
    font-size: 4rem;
    color: #fff;

    span {
      color: $subTextColor;
    }
  }
}

.tab_container {
  display: flex;
  margin: 40px 0;
  justify-content: center;

  .tabs {
    button {
      padding: 10px 15px;
      background: transparent;
      border: none;
      color: #fff;
      font-size: 1.2rem;
      transition: 0.2s;
    }
    .active {
      background: $glassColor;
      backdrop-filter: blur($blurSize);
      transition: 0.2s;
      color: $subTextColor;
    }
  }
}

.icon {
  display: none;
}

// Tablet view
@media screen and (max-width: 768px) {
}

// mobile view
@media screen and (max-width: 680px) {
  .projects {
    margin: 35px 10px;
    h1 {
      font-size: 2rem;
    }
  }

  .tabs {
    button {
      p {
        font-size: 0.7rem;
      }
    }
  }

  .icon {
    display: inline;
  }
}
