$glassColor: rgba(0, 0, 0, 0.2);
$blurSize: 80px;
$subTextColor: rgb(1, 184, 184);
.container {
  width: 1000px;
  overflow: hidden;
  position: relative;
  margin: 50px auto;
  color: #fff;
}

.img {
  width: 600px;
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 400px;
  &:hover {
    .overlay {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 2;
      background-color: rgba(0, 255, 255, 0.2);
      transition: all 0.3s ease-in-out;
    }
  }
}

.details {
  position: absolute;
  width: 500px;
  height: 350px;
  text-align: start;
  top: 20px;
  left: 0;

  .featured {
    margin-top: 20px;
    font-weight: 300;
    color: $subTextColor;
  }
  h3 {
    margin-top: 8px;
    font-size: 1.5rem;
    opacity: 0.8;
  }
  .para {
    margin: 20px 0;
    line-height: 1.3rem;
    font-size: 1.05rem;
    font-weight: 200;
    padding: 20px;
    background-color: $glassColor;
    backdrop-filter: blur($blurSize);
    border: 2px solid transparent;
    border-radius: 10px;
    background-clip: padding-box;
    opacity: 0.8;
  }
  span {
    margin-left: 15px;
    margin-top: 5px;
    padding: 5px 5px;
    font-weight: 300;
    opacity: 0.8;
    color: $subTextColor;
    background-color: $glassColor;
  }
  .icons {
    margin-top: 15px;
    height: auto;
    opacity: 0.8;
    a {
      margin-right: 10px;

      &:hover {
        color: $subTextColor;
      }
    }
  }
}

// Tablet view

@media screen and (max-width: 800px) {
  .img {
    width: 500px;
    height: 300px;
    margin-left: 280px;
  }
  .details {
    left: 10px;

    .icons {
      height: auto;
    }
  }
}

// mobile view
@media screen and (max-width: 680px) {
  .container {
    width: 100%;
    position: initial;
    display: flex;
    flex-direction: column;
  }

  .imgContainer {
    order: 1;
  }
  .img {
    width: 100%;
    height: 200px;
    margin: 0;
  }

  .details {
    order: 2;
    position: inherit;
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: start;
    background-color: $glassColor;
    backdrop-filter: blur($blurSize);
    border-top: 0;
    border-bottom: 2px solid transparent;
    border-radius: 0 0 10px 10px;
    background-clip: padding-box;

    .featured {
      margin: 0;
    }

    .para {
      margin: 10px 0;
      padding: 0;
      background-color: transparent;
      backdrop-filter: none;
      border: none;
    }

    span {
      margin-left: 0;
      margin-right: 10px;
    }
  }
}
