@import "../shared/shared.scss";

.skill_card {
  width: 300px;
  height: 200px;
  padding: 10px;
  margin-left: 40px;
  background-color: $glassColor;
  backdrop-filter: blur($blurSize);
  border: 2px solid transparent;
  border-radius: 10px;
  background-clip: padding-box;

  h3 {
    margin: 5px 0;
  }
}

// Tablet view

@media screen and (max-width: 768px) {
  .skill_card {
    margin: 0 5px;
  }
}

// mobile view
@media screen and (max-width: 680px) {
  .skill_card {
    margin: 0 5px;
    height: 150px;
  }
}
