$glassColor: rgba(0, 0, 0, 0.2);
$blurSize: 80px;
$subTextColor: rgb(1, 184, 184);

.background {
  width: 100%;
  height: 100%;
  background-color: #0a192f;
}

.landing_section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro_card {
  display: flex;
  width: auto;
  height: auto;
  padding: 20px 30px;
  // background-color: $glassColor;
  // backdrop-filter: blur($blurSize);
  // border: 2px solid transparent;
  // border-radius: 10px;
  // background-clip: padding-box;

  // img {
  //   width: 160px;
  //   height: 180px;
  //   border-radius: 100px;
  //   margin: 20px 20px 0 0;
  // }

  div {
    width: 100%;
  }

  // h1 {
  //   margin-top: 10px;
  //   font-size: 2rem;
  //   color: #ffff;
  // }
  h2 {
    font-size: 4.2rem;
    color: #fff;
    opacity: 0.8;
  }
  h3 {
    font-size: 3.5rem;
    color: #fff;
    opacity: 0.6;
  }
  h4 {
    font-size: 1.1rem;
    font-weight: lighter;
    color: #fff;
    opacity: 0.4;
    margin-top: 10px;
    line-height: 1.5rem;
    width: 500px;
  }
  p {
    color: $subTextColor;
    font-size: 1.2rem;
    margin-top: 10px;
  }
  .btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: rgba(0, 205, 241, 0.2);
    backdrop-filter: blur($blurSize);
    border: 1px solid $subTextColor;
    border-radius: 5px;
    background-clip: padding-box;
    color: $subTextColor;
  }
}
.about {
  max-width: 1200px;
  margin: 10px auto;

  h1 {
    margin: 10px 0;
    font-size: 4rem;
    color: #fff;
    opacity: 0.8;

    span {
      color: $subTextColor;
    }
  }
}

// About
.about_glass {
  width: 100%;
  height: 100%;
  padding: 20px;
  margin: 10px 0;
  text-align: center;
  color: #ffff;

  .card_section {
    display: flex;
    .skill_card {
      display: flex;
      margin-bottom: 20px;
    }
  }
}

// Tablet view

@media screen and (max-width: 800px) {
  .intro_card {
    margin: 0 20px;

    h2 {
      font-size: 3rem;
      font-weight: 600;
      margin-bottom: 10px;
    }
    h3 {
      font-size: 2.2rem;
      font-weight: 500;
    }
    h4 {
      width: fit-content;
    }
    p {
      font-size: 1.2rem;
      margin-bottom: 10px;
    }
  }
}

// mobile view
@media screen and (max-width: 680px) {
  .landing_section {
    align-items: flex-start;
  }
  .intro_card {
    position: relative;
    top: 18%;
    flex-direction: column;
    margin: 0 5px;
    height: auto;
    padding: 10px;

    // img {
    //   height: 180px;
    //   margin: 0 auto;
    // }

    div {
      margin-top: 10px;
    }

    h2 {
      font-size: 2.5rem;
      font-weight: 500;
      margin-bottom: 10px;
    }
    h3 {
      font-size: 2rem;
      font-weight: 500;
      margin-bottom: 20px;
    }
    h4 {
      font-size: 1.1rem;
      margin-bottom: 20px;
    }
    p {
      font-size: 1.1rem;
      margin-bottom: 20px;
    }
    .btn {
      font-size: 1.2rem;
    }
  }

  .about {
    width: 100%;
    margin: 0;

    h1 {
      font-size: 2.5rem;
    }
  }

  // About
  .about_glass {
    padding: 10px;
    margin: 0;

    .card_section {
      display: flex;
      flex-direction: column;
      .skill_card {
        display: flex;
        margin: 10px 0;
      }
    }
  }
}
